# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
notebooks/*.png
manual_eval

# Environment
.env

# Logs
logs/
*.log

# macOS
.DS_Store
.AppleDouble

# IDE
.idea/
.vscode/
